.container{
  overflow: auto;
  margin: auto;
  width: 2000;
  height: 1000;
  background-color: beige;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#slide{
  width: 100%;
  height: 100%;
  transition: transform .3s;
}

#chat-box {
  width: 20%;
  min-width: 330px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: black;//#fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  height: 100%;
  border-radius: 20px;
  border-style: solid;
  border-color: black;//#fff;
}

#chat-history {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
}

.plus-minus {
  display: flex;
  vertical-align: middle;
  margin-top: 15px; 
}

#chat-input {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 0px 0px 0px 0px;
  ion-item {
    width: 100%;
  }
}

#mod-box, #sides-box, #dice-box, .roll-label {
  display: flex;
  justify-content: center;
}

.avatar {
  margin-right: 0.5em;
}

#roll-button {
  width: 100%;
  padding: 0px 5px;
}

div.scrollable {
  overflow-y: auto;
  width: 100%;
}


ion-range {
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-label {
  margin-top: 5px;
  margin-bottom: 4px;
}

#roll-box {
  width: 100%;
}

#roll-box > ion-list {
  padding-top: 0px;
  padding-bottom: 0px;
}

#chat-input > ion-item > ion-button {
  margin: 0px;
}

#chat-input > ion-item > ion-textarea {
  margin-top: 0px;
}

#hide-chat-box {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
  color: rgba($color: #000000, $alpha: 0.5)
}

#show-chat-box {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
  color: rgba($color: #000000, $alpha: 0.5)
}

#hide-roll-box, #show-roll-box {
  color: rgba($color: #000000, $alpha: 0.5)
}

#hide-chat-box:hover, #show-chat-box:hover, #hide-roll-box:hover, #show-roll-box:hover {
  color: rgba($color: #000000, $alpha: 1.0)
}

.roll-result {
  text-align: right;
  max-width: 30px;
  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  font-weight: bolder;
}

@media screen and ( max-width: 1300px ){
  #hide-chat-box {
    transform: translateX(-150px);
  }
}

@media screen and ( max-width: 992px ){
  #hide-chat-box {
    transform: translateX(-200px);
  }
}

.system-message {
  background-color: lawngreen
}
#canvas {
  overflow: auto;
  border: lightgrey 1px solid;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: absolute !important;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: transparent !important;
}

.canvas-container {
  margin: auto;
  position: absolute !important;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: transparent !important;
}

.palette-container {
  height: 30px;
  bottom: 5px;
  left: 10px;
  display: inline-block;
  position: fixed !important;
}

.palette-button {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0 4px 0 0;
  pointer-events: auto;
  border-radius: 3px;
  vertical-align: middle;
  transition: height .1s linear,opacity .1s linear;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.palette-button-selected {
  height: 24px;
  width: 24px;
}

.grid-button {
  display: inline-block;
  position: fixed !important;
}

.tool-container {
  height: 340px;
  bottom: 40px;
  left: 0;
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
  position: fixed !important;
}

.room {
  color: white; 
  align-self: center; 
  text-align: center; 
  margin-top: 10px;
}


.home {
  background-color: transparent; 
  margin-top: 5px; 
  margin-left: 20px; 
  font-size: xx-large; 
  color:white
}

.icon-container {
  position: fixed !important;
  margin-left:160px;
}

.background-button {
  position: fixed;
  bottom:0;
  right:0;
}

.tool-box {
  display: inline-block;
  position: relative;
}

.tool-button {
  margin: auto;
  margin-top: 12px;
  color: white;
  width: 120px;
  border-radius: 20px;
}

.selected {
  background-color: red !important;
  color: red !important;
}

.control-button {
  font-size: 20px;
}