<ion-header [translucent]="true">
  <ion-toolbar>
      <button style="background-color: transparent;" (click)="goHome()">
        <ion-title style="color: white;">
          Adventure Grid (test)
        </ion-title>
      </button>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div id="page" class="canvas-container">
    
  </div>

  <div class="tool-container">
    <ion-row>
      <ion-button class="tool-button control-button" (click)="undo()">Undo</ion-button>
    </ion-row>
    <ion-row>
      <ion-button class="tool-button control-button" (click)="redo()">Redo</ion-button>
    </ion-row>
    <ion-row>
      <ion-button [ngClass]="_mode == 'drawing' ? 'tool-button selected' : 'tool-button'" (click)="selectDraw()">Square</ion-button>
    </ion-row>
    <ion-row>
      <ion-button [ngClass]="_mode == 'line' ? 'tool-button selected' : 'tool-button'" (click)="selectLine()">Line</ion-button>
    </ion-row>
    <ion-row>
      <ion-button [ngClass]="_mode == 'pencil' ? 'tool-button selected' : 'tool-button'" (click)="selectPencil()">Pencil</ion-button>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [ngClass]="_mode == 'token' ? 'tool-button selected' : 'tool-button'" (click)="selectToken()">Token</ion-button>
      </ion-col>
      <ion-row class="icon-container"  *ngIf="_tokenSelected">
        <ion-col *ngFor="let icon of _iconsList">
          <ion-button (click)="selectIcon(e, icon)">
            <img src={{icon.src}}>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-row>
    <ion-row>
      <ion-button class="tool-button" (click)="clearCanvas()">
        Clear
      </ion-button>
    </ion-row>
  </div>

  <div class="background-button">
    <ion-button (click)="setBackground()">
      Set Background
    </ion-button>
  </div>

  <div class="palette-container">
    <button class="palette-button" style="background-color: red;" (click)="selectColor($event)"></button>
    <button class="palette-button" style="background-color: blue;" (click)="selectColor($event)"></button>
    <button class="palette-button" style="background-color: yellow;" (click)="selectColor($event)"></button>
    <button class="palette-button" style="background-color: saddlebrown;" (click)="selectColor($event)"></button>
    <button class="palette-button" style="background-color: black;" (click)="selectColor($event)"></button>
    <button class="palette-button" style="background-color: grey;" (click)="selectColor($event)"></button>
    <button class="palette-button" style="background-color: white;" (click)="selectColor($event)"></button>
    <button class="palette-button" style="background-color: beige;" (click)="selectColor($event)"></button>
  </div>
  <div  class="grid-button">
    <ion-button (click)="hideGrid()">Grid</ion-button>
  </div>
</ion-content>
