<ion-header [translucent]="true">
  <ion-toolbar>
    <button style="background-color: transparent;" (click)="goHome()">
      <ion-title style="color: white;">
        Adventure Grid
      </ion-title>
    </button>
</ion-toolbar>
    <ion-button class="center" (click)='createSession()'>Create Session</ion-button>
</ion-header>

<ion-content padding>
  <ion-row style="margin:auto" *ngFor="let session of sessions">
    <ion-button class ="server-card" (click)='enterServer($event, session)'>
      {{session.sname}}
    </ion-button>
  </ion-row>
</ion-content>
